@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


/* ===== Start Global Custom Styles ===== */
html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}
html.dark {
  background-color: #101010;
}
html.light {
  background-color: #ffffff;
}
nav [data-active="true"] a {
  color: #b91037;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

p,
p.description {
  font-size: 15px;
  font-weight: 300;
  line-height: 26px;
  color: #818181;
}
.dark path.recharts-rectangle {
  fill: #b91037;
}
.dark path.recharts-curve.recharts-area-area {
  fill: #b91037;
}
.dark path.recharts-curve.recharts-line-curve {
  stroke: #b91037;
}
span.cl-internal-9ci4h9 {
  color: #991b1b !important;
}
span.cl-internal-rscu79 {
  color: #b1b1b1 !important;
}
span.cl-badge.🔒️.cl-internal-1kacczc,
span.cl-badge.🔒️.cl-internal-qosp7d {
  color: #991b1b !important;
  background-color: #272727 !important;
}

.lbs-cont div div div div input {
  padding-inline-end: 0 !important;
}

@media screen and (max-width: 410px) {
  .rep-input div div div,
  .lbs-input div div div {
    display: block !important;
  }
}

/* Button Global */
a.z-0.group.relative.inline-flex.items-center.justify-center.box-border.appearance-none.select-none.whitespace-nowrap.font-normal.subpixel-antialiased.overflow-hidden.tap-highlight-transparent.outline-none {
  border-radius: 100px !important;
  padding: 10px 25px;
}
button {
  position: relative;
}
button[title]:hover::after {
  position: absolute;
  top: -100%;
  left: 0;
}

/* Tooltip */
.tooltip-text {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  font-size: 12px;
  pointer-events: none;
  white-space: nowrap;
  z-index: 10;
}

/* Tooltip arrow */
.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
}
.group:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.table-cell {
  position: relative;
  overflow: visible;
}
button:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.group:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .count-pages {
    left: 50%;
    top: 30%;
    display: flex;
    transform: translate(-50%, -50%);
    justify-content: center;
  }
}
svg.tabler-icon.tabler-icon-star-filled.text-primary,
.hover\:text-primary:hover {
  color: #991b1b !important;
}
.ring-primary {
  --tw-ring-opacity: 1;
  --tw-ring-color: #991b1b;
}

/* Bullet List - Reference Page */
.bullet-icon-custom {
  width: 40px;
  height: auto;
}
.bullet-list-custom-none::before,
.bullet-list-custom-none::after,
.bullet-list-custom-first::before,
.bullet-list-custom-first::after,
.bullet-list-custom::before,
.bullet-list-custom::after,
.bullet-list-custom-last::before,
.bullet-list-custom-last::after {
  content: "";
  display: block;
  height: auto;
  margin-left: 20px;
  padding: 75px 0;
}

@media screen and (max-width: 510px) {
  .bullet-list-custom-none::before,
  .bullet-list-custom-none::after,
  .bullet-list-custom-first::before,
  .bullet-list-custom-first::after,
  .bullet-list-custom::before,
  .bullet-list-custom::after,
  .bullet-list-custom-last::before,
  .bullet-list-custom-last::after {
    padding: 100px 0;
  }
}
@media screen and (max-width: 310px) {
  .bullet-list-custom-none::before,
  .bullet-list-custom-none::before,
  .bullet-list-custom-first::before,
  .bullet-list-custom-first::after,
  .bullet-list-custom::before,
  .bullet-list-custom::after,
  .bullet-list-custom-last::before,
  .bullet-list-custom-last::after {
    padding: 90px 0;
  }
}
.bullet-list-custom-first::before,
.bullet-list-custom-last::after,
.bullet-list-custom-none::before,
.bullet-list-custom-none::after {
  border-left: 0px solid #292929;
}

.bullet-list-custom-first::after,
.bullet-list-custom::before,
.bullet-list-custom::after,
.bullet-list-custom-last::before {
  border-left: 1px solid #252525;
}

/* ===== End Global Custom Styles ===== */

/* ===== Start Custom Style Toast ===== */

[data-sonner-toast][data-styled="true"] {
  background: #991b1b !important;
}

/* ===== End Custom Style Toast ===== */

/* ===== Start Pages Styles ===== */
.page-container {
  padding: 20px;
}
.page-width {
  width: min(100% - 100px, 1024px);
  margin-inline: auto;
}
@media screen and (max-width: 768px) {
  .page-width {
    width: min(100% - 60px, 100%);
  }
  .page-container {
    padding: 10px;
  }
}
@media screen and (max-width: 580px) {
  .page-width {
    width: min(100% - 50px, 100%);
  }
}
.page-heading.bg-image,
.main-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.hero-headline,
.page-heading-wrapper h1 {
  font-size: 50px;
  font-weight: 600;
}
h2.section-headline {
  font-size: 32px;
  font-weight: 600;
}
h3.section-headline {
  font-size: 28px;
  font-weight: 600;
}
h4.section-headline {
  font-size: 22px;
  font-weight: 500;
}
.red {
  color: #991b1b;
}
.page-heading-wrapper h1 {
  text-align: center;
}
.our-services {
  background-color: #000000;
}
.section-label,
.section-headline {
  color: #ffffff;
}
.section-headline {
  line-height: 1.2;
}
.section-label {
  background-color: #991b1b46;
  padding: 5px 17px;
  font-size: 14px;
  color: #ffffff;
  border: 1px solid #8b191981;
  border-radius: 100px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .hero-headline {
    font-size: 40px;
    line-height: 52px;
  }
  h1.inner-page-headings {
    font-size: 40px;
  }
}
@media screen and (max-width: 580px) {
  .card-description {
    font-size: 18px;
    line-height: 24px;
    margin-top: 2px;
  }
}
/* ===== End Pages Styles ===== */

/* ===== Start Pages Heading Styles ===== */
h1.page-headings {
  font-size: 26px;
  font-weight: 600;
  color: #818181;
  padding-left: 15px;
  line-height: 22px;
  border-left: 2px solid #991b1b;
}

@media screen and (max-width: 410px) {
  h1.page-headings {
    line-height: 22px;
    font-size: 22px;
  }
}
/* ===== End Pages Heading Styles ===== */

/* ===== Gallery Page ====== */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
}

.kebab-gallery svg {
  color: #ffffff !important;
}

@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
  }
}

.gallery-item a {
  display: block; /* Change flex to block for grid items */
  aspect-ratio: 3 / 4;
}

img.gallery-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* @media screen and (max-width: 768px) {
}
@media screen and (max-width: 410px) {
  .gallery-item a,
  img.gallery-image {
    width: 100%;
  }
} */
/* ===== Gallery Page ====== */

/* ===== Start Form Uploading ===== */
.upload-form-button {
  padding: 8px 15px;
  background-color: #991b1b;
  color: #ffffff;
  border-radius: 7px;
}
/* ===== End Form Uploading ===== */

/* ===== Start Header and Footer ===== */
/* Header */
.nav-link {
  color: #818181;
  font-size: 15px;
  transition: all 0.3s;
  position: relative;
  display: flex;
}
.nav-link a:hover {
  color: #cccccc;
  text-shadow:
    0 0 5px #ffffff26,
    0 0 10px rgba(255, 255, 255, 0.5);
  font-weight: 400;
}
.nav-link a:before,
.nav-link a:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 52px;
  height: 52px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  content: "";
  opacity: 0;
  -webkit-transition:
    -webkit-transform 0.3s,
    opacity 0.3s;
  -moz-transition:
    -moz-transform 0.3s,
    opacity 0.3s;
  transition:
    transform 0.3s,
    opacity 0.3s;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
  transform: translateX(-50%) translateY(-50%) scale(0.2);
}
.nav-link a:after {
  width: 40px;
  height: 40px;
  border-width: 5px;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
}
.nav-link a:hover:before,
.nav-link a:hover:after,
.nav-link a:focus:before,
.nav-link a:focus:after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}

@media screen and (max-width: 768px) {
  .nav-link a:after,
  .nav-link a:before {
    position: relative;
    transform: none;
    border: none;
    border-radius: 0%;
  }
}
/* Mobile Menu Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  transition: left 0.4s ease-in-out;
  z-index: 1000;
}
.sidebar.open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.sidebar.open {
  left: 0;
  transition: left 0.4s ease-in-out;
}
.hamburger-menu {
  border: 0;
  height: 60px;
  display: grid;
  place-items: center;
  cursor: pointer;
  padding: 0;
  opacity: 0.6;
  scale: 0.8;
  z-index: 2000;
  position: relative;
  transition: 0.25s;
}
.hamburger-menu:hover {
  opacity: 1;
}
.burger {
  position: relative;
  width: 30px;
  border: 0;
}
.burger,
.burger::before,
.burger::after {
  display: block;
  border-radius: 2px;
  height: 2px;
  background: #f9f9f9;
  transition: 0.3s;
}
.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}
.burger::before {
  top: -8px;
}
.burger::after {
  top: 8px;
}

/* burger-1 */
.burger.burger-1,
.burger.burger-1::before,
.burger.burger-1::after {
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.burger.burger-1.is-closed {
  transform: translateX(-50px);
  background: transparent;
}
.burger.burger-1.is-closed::before {
  transform: rotate(-45deg) translate(30px, 40px);
}
.burger.burger-1.is-closed::after {
  transform: rotate(45deg) translate(30px, -42px);
}

/* ===== Start Kebab Menu ===== */
.kebab-menu {
  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.kebab-menu.show {
  opacity: 1;
  transform: translateY(0);
}
/* ===== End Kebab Menu ===== */

/* ===== Start Animations ===== */
/* Line Moving Background */
@keyframes fall {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
.falling-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.falling-lines div {
  position: absolute;
  top: -100px;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  animation: fall 4s linear infinite;
  opacity: 0;
}
.falling-lines div:nth-child(1) {
  left: 10%;
  animation-delay: 0s;
}
.falling-lines div:nth-child(2) {
  left: 20%;
  animation-delay: 0.5s;
}
.falling-lines div:nth-child(3) {
  left: 30%;
  animation-delay: 1s;
}
.falling-lines div:nth-child(4) {
  left: 40%;
  animation-delay: 1.5s;
}
.falling-lines div:nth-child(5) {
  left: 50%;
  animation-delay: 2s;
}
.falling-lines div:nth-child(6) {
  left: 60%;
  animation-delay: 2.5s;
}
.falling-lines div:nth-child(7) {
  left: 70%;
  animation-delay: 3s;
}
.falling-lines div:nth-child(8) {
  left: 80%;
  animation-delay: 3.5s;
}
.falling-lines div:nth-child(9) {
  left: 90%;
  animation-delay: 4s;
}
/* Popup Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scaleIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-in-out;
}
/* ===== End Animations ===== */

/* ===== Start Modals Styles ===== */
/* Exercises Modal */
@media screen and (max-width: 639px) {
  .addRoutineFromExercises {
    margin-top: -24vh !important;
  }
  .flex.w-screen.h-\[100dvh\].fixed.inset-0.z-50.overflow-x-auto.justify-center.\[--scale-enter\:100\%\].\[--scale-exit\:100\%\].\[--slide-enter\:0px\].\[--slide-exit\:80px\].sm\:\[--scale-enter\:100\%\].sm\:\[--scale-exit\:103\%\].sm\:\[--slide-enter\:0px\].sm\:\[--slide-exit\:0px\].items-end.sm\:items-center {
    align-items: center !important;
  }
}
/* ===== End Modals Styles ===== */


@keyframes entrance {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-entrance {
  animation: entrance 0.5s ease-out forwards;
}


.dropzone-box {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 36rem;
  border: 1px solid var(--border);
  width: 100%;
  background: var(--dropzone-bg);
}

.dropzone-area {
  padding: 1rem;
  position: relative;
  min-height: 16rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px dashed #979797;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dropzone-area .file-info {
  font-size: 1.1rem;
}

.dropzone-area [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


/* .dropzone-area:hover {
  background: #252525;
} */

.dropzone--over {
  border: 2px solid #252525;
  background: var(--dropzone-over);
}

.dropzone-actions button {
  flex-grow: 1;
  min-height: 3rem;
  font-size: 1.2rem;
  border: none;
  transition: background 0.3s ease;
}


.dropzone-actions button[type='reset'] {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background: var(--secondary);
  cursor: pointer;
  border: 1px solid var(--border);
}

.dropzone-actions button[type='reset']:hover {
  background: var(--secondary-hover);
}

.dropzone-actions button[type='submit'] {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.dropzone-actions button[type='submit']:hover {
  background: var(--primary-hover);
}